In [2]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import key
from config import g_key

In [3]:
# Read the file
file_to_read='weather_data/cities.csv'
city_data_df=pd.read_csv(file_to_read)
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,esmeralda,CU,2021-11-08 18:28:51,21.8525,-78.1169,81.64,55,95,9.44
1,1,east london,ZA,2021-11-08 18:28:52,-33.0153,27.9116,59.94,94,75,11.50
2,2,bredasdorp,ZA,2021-11-08 18:28:52,-34.5322,20.0403,58.32,67,58,5.75
3,3,kodiak,US,2021-11-08 18:28:52,57.7900,-152.4072,35.11,69,1,13.80
4,4,tekirdag,TR,2021-11-08 18:28:53,40.9780,27.5085,52.95,69,100,4.36

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use Google API key
gmaps.configure(api_key=g_key)

In [6]:
# Replace negative temperatures with zero [Maps can't use negative values]

max_temp=city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

# Not used. Instead same code was written in a line

In [19]:
# Heatmap for Temperature
# Array of locations
locations=city_data_df[["Lat","Lng"]]
# Assign the weights variable (variable to create heatmap with)
temperature=city_data_df["Max Temp"]
# Create a gmaps fig plot
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# Create a heatmap layer using gmaps heatmap layer function
heatmap_layer=gmaps.heatmap_layer(locations,weights=[max(temp,0) for temp in temperature], 
                                  dissipating=False, max_intensity=300,
                                 point_radius=4)
# Add heatmap layer to a map
fig.add_layer(heatmap_layer)
# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap for Humidity
# Array of locations
locations=city_data_df[["Lat","Lng"]]
# Assign the weights variable (variable to create heatmap with)
humidity=city_data_df["Humidity"]
# Create a gmaps fig plot
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# Create a heatmap layer using gmaps heatmap layer function
heatmap_layer=gmaps.heatmap_layer(locations,weights=humidity, 
                                  dissipating=False, max_intensity=300,
                                 point_radius=4)
# Add heatmap layer to a map
fig.add_layer(heatmap_layer)
# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap for Cloudiness
# Array of locations
locations=city_data_df[["Lat","Lng"]]
# Assign the weights variable (variable to create heatmap with)
cloudiness=city_data_df["Cloudiness"]
# Create a gmaps fig plot
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# Create a heatmap layer using gmaps heatmap layer function
heatmap_layer=gmaps.heatmap_layer(locations,weights=cloudiness, 
                                  dissipating=False, max_intensity=300,
                                 point_radius=4)
# Add heatmap layer to a map
fig.add_layer(heatmap_layer)
# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap for Wind Speed
# Array of locations
locations=city_data_df[["Lat","Lng"]]
# Assign the weights variable (variable to create heatmap with)
wind_speed=city_data_df["Wind Speed"]
# Create a gmaps fig plot
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# Create a heatmap layer using gmaps heatmap layer function
heatmap_layer=gmaps.heatmap_layer(locations,weights=wind_speed, 
                                  dissipating=False, max_intensity=300,
                                 point_radius=4)
# Add heatmap layer to a map
fig.add_layer(heatmap_layer)
# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Creaating a filtered df
selected_df=city_data_df.loc[(city_data_df["Max Temp"]>=min_temp)&(city_data_df["Max Temp"]<=max_temp)]
selected_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,esmeralda,CU,2021-11-08 18:28:51,21.8525,-78.1169,81.64,55,95,9.44
10,10,kapaa,US,2021-11-08 18:28:54,22.0752,-159.3190,77.32,78,75,16.11
17,17,georgetown,MY,2021-11-08 18:28:56,5.4112,100.3354,78.73,93,40,3.44
21,21,hithadhoo,MV,2021-11-08 18:28:57,-0.6000,73.0833,82.56,74,94,14.81
22,22,butaritari,KI,2021-11-08 18:28:57,3.0707,172.7902,81.75,71,5,14.85

In [28]:
# Checking for null values
selected_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [39]:
hotel_df=selected_df[["City","Country","Lat","Lng","Max Temp"]]
hotel_df["Hotel Name"]=""
hotel_df.head()

C:\Users\dhanu\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          City Country      Lat       Lng  Max Temp Hotel Name
0    esmeralda      CU  21.8525  -78.1169     81.64
10       kapaa      US  22.0752 -159.3190     77.32
17  georgetown      MY   5.4112  100.3354     78.73
21   hithadhoo      MV  -0.6000   73.0833     82.56
22  butaritari      KI   3.0707  172.7902     81.75

In [42]:
# Call API to retrieve results
base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Setting parameters to search based on
params={
        "key":g_key,
        "type":"lodging",
        "radius":5000
        }

In [54]:
# Iterate through df
for index,row in hotel_df.iterrows():
    # Retrieving lat and lng
    lat=row["Lat"]
    lng=row["Lng"]
    # Adding it to the parameter file
    params["location"]=f"{lat},{lng}"
    
     
    # Querying the API
    response=requests.get(base_url,params=params).json()
    try:
        hotel_df.loc[index,"Hotel Name"]=response["results"][0]["name"]
    except (IndexError):
        print ("Hotel not found..skipping")

Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping
Hotel not found..skipping

In [55]:
# Heatmap for Temperature
# Array of locations
locations=hotel_df[["Lat","Lng"]]
# Assign the weights variable (variable to create heatmap with)
temperature=hotel_df["Max Temp"]
# Create a gmaps fig plot
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# Create a heatmap layer using gmaps heatmap layer function
heatmap_layer=gmaps.heatmap_layer(locations,weights=[max(temp,0) for temp in temperature], 
                                  dissipating=False, max_intensity=300,
                                 point_radius=4)
# Marker layer
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""
hotel_info=[info_box_template.format(**row) for index,row in hotel_df.iterrows()]
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
# Add heatmap layer to the map
fig.add_layer(heatmap_layer)
# Add marker layer to the map
fig.add_layer(marker_layer)
# Display the map
fig

Figure(layout=FigureLayout(height='420px'))